.Score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgba(32, 40, 47, 0.863);
    color: rgb(255, 255, 255);
    border-radius: 15px;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  